<!doctype html>
<html  class="x-admin-sm">
<head>
	<meta charset="UTF-8">
	<title>后台登录-X-admin2.2</title>
	<meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="stylesheet" href="../static/css/font.css">
    <link rel="stylesheet" href="../static/css/login.css">
	  <link rel="stylesheet" href="../static/css/xadmin.css">
    <script type="text/javascript" src="../static/js/jquery.min.js"></script>
    <script src="../static/lib/layui/layui.js" charset="utf-8"></script>
    <!--[if lt IE 9]>
      <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
      <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="login-bg">
    
    <div class="login layui-anim layui-anim-up">
        <div class="message">x-admin2.0-管理登录1</div>
        <div id="darkbannerwrap"></div>
        
        <form method="post" class="layui-form" >
            <input name="username" placeholder="用户名"  type="text" lay-verify="required" class="layui-input" >
            <hr class="hr15">
            <input name="password" lay-verify="required" placeholder="密码"  type="password" class="layui-input">
            <hr class="hr15">
            <input value="登录" lay-submit lay-filter="login" style="width:100%;" type="submit">
            <hr class="hr20" >
        </form>
    </div>

    <script>
        $(function  () {
            //获取token

            function setToken(data){
                var storage = window.localStorage;

                if(!storage){

                    alert("浏览器不支持localstorage");

                    return false;

                }

                var token = data.token;

                storage.setItem("user_token", token);

                storage.setItem("user_login_time", new Date().getTime());//保存登录时间

            }

            function getToken()

            {

                var storage = window.localStorage;

                var current = new Date().getTime();//拿token的时间

                var token = storage.user_token;//token的值

                var old_time = storage.user_login_time;//登录的时间

                var time = (current - old_time) /1000;//时间差

                var out_time = 3600;// 超时设置

                var parse_time = 24 * 60 * 60;// 刷新设置

                //手动清除缓存
                var length = window.localStorage.length;
                if(length==0){
                    window.location.href = "login.html"
                }

                //超时

                if(parse_time > time && time >= out_time) {

                    refreshToken(token);

                }

                //1天过期 重新登录

                if(time >= parse_time) {

                    window.location.href = "/toLogin";

                }

                return token;

            }

            function headerSetup(token)

            {

                $.ajaxSetup({

                    'headers':{

                        'Authorization': 'Bearer '+ token,

                    }

                });

            }
            layui.use('form', function(){

              var form = layui.form;
              // layer.msg('玩命卖萌中', function(){
              //   //关闭后的操作
              //   });
              //监听提交
              form.on('submit(login)', function(data){
                  $.ajax({
                      type:"POST",
                      url:"/admin/login",
                      contentType:'application/json;charset=utf-8',
                      data:JSON.stringify(data.field),
                      success:function(data2){
                         if(data2.code == 200){
                             setToken(data);
                             headerSetup(getToken());
                             location.href='toIndex';
                         }
                      }
                  })
                /*layer.msg(JSON.stringify(data.field),function(){
                    location.href='index.html'
                });*/
                return false;
              });


            });

        })
    </script>
    <!-- 底部结束 -->

</body>
</html>